<main>
    <section class="white padded">
        <div class="page-width">
            <h1><?php echo $this->translate('user_edit_header'); ?></h1>
            <?php echo $this->form;?>
        </div>
    </section>
</main>
