* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    outline: none;
}
body {
    background-color: #e4004d;
    color: #fff;
}
body,
input,
textarea,
select {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
a {
    color: inherit;
}
header,
nav,
main {
    display: block;
}
.page-width {
    width: 980px;
    padding: 0 30px;
    margin: 0 auto;
}
header {
    padding-top: 50px;
}
header #logo {
    height: 70px;
}
header .nav-section {
    overflow: hidden;
    float: right;
    margin-top: 8px;
}
header .nav-section .user {
    text-align: right;
    margin-bottom: 24px;
    font-size: 0;
}
header .nav-section .user > * {
    font-size: 12px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 3px 6px 4px;
}
header .nav-section .user a:first-child:not(:last-child) {
    border-color: #fff;
    border-width: 1px 0 1px 1px;
}
header .nav-section .user a:first-child {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
header .nav-section .user a:last-child {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
header .nav-section .user a:first-child:not(:last-child) {
    border-color: #fff;
    border-width: 1px 0 1px 1px;
}
header .nav-section .user a:first-child {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}
header .nav-section .user a:last-child {
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

header .nav-section .user a:hover {
    background-color: #fff;
    color: #e4004d;
}
header .nav-section nav a {
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
}
header .nav-section nav a:hover {
    border-bottom: 1px solid #ffc5d9;
}
header .nav-section nav a.active {
    border-bottom: 1px solid #fff;
}
header .nav-section nav a + a {
    margin-left: 18px;
}
section.grey {
    background-color: #706e6f;
}
section.light {
    background-color: #e6e6e6;
    color: #333;
}
section.light ul li {
    border-color: #555;
}



section.login .page-width {
    text-align: center;
}

section.white {
    background-color: #fff;
    color: #666;
    position: relative;
}
section.white ul li {
    border-color: #888;
}
section.white h1 {
    padding: 20px 0;
}
.application-page h1 {
    margin-bottom: 20px;
}
.application-page h1 + p {
    line-height: 1.4em;
}
.application-page h1 + p a {
    text-decoration: underline;
}
section.white input[type="button"],
section.white input[type="submit"],
section.white .join a {
    background: #e4004d;
    color: #fff;
    border: 1px solid #e4004d;
}
section.white .field input[type="text"],
section.white .field input[type="password"],
section.white .field input[type="email"],
section.white .field input[type="tel"],
section.white .field input[type="number"],
section.white .field textarea,
section.white .field select {
    border-color: #bbb;
}
section.white .field:hover input[type="text"],
section.white .field:hover input[type="password"],
section.white .field:hover input[type="email"],
section.white .field:hover input[type="tel"],
section.white .field:hover input[type="number"],
section.white .field:hover textarea,
section.white .field:hover select {
    border-color: #999;
}
section.white input[type="text"],
section.white input[type="password"],
section.white input[type="email"],
section.white input[type="tel"],
section.white input[type="number"],
section.white select,
section.white textarea {
    color: #666;
}
section.white input[type="text"]:focus,
section.white input[type="password"]:focus,
section.white input[type="email"]:focus,
section.white input[type="tel"]:focus,
section.white input[type="number"]:focus,
section.white select:focus,
section.white textarea:focus {
    border-color: #999;
}
u {
    color: #e4004d;
}
h1 {
    font-size: 28px;
    line-height: 1.3em;
    font-weight: 500;
    white-space: pre-line;
}
h2 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 20px;
}
main {
    margin-top: 50px;
}
main section:not(.white):first-child {
    padding-top: 0 !important;
}
section.padded {
    padding: 50px 0 80px;
}
.intro {
    padding: 0 0 70px;
}
.intro .page-width {
    background: url('../img/owzg/lines.svg') no-repeat;
    background-size: 387px auto;
    background-position: 563px 5px;
    height: 400px;
}
.intro h1 {

}
.intro strong {
    font-weight: 700;
}
.intro p {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 500;
    white-space: pre-line;
    margin-top: 20px;
}
input[type="button"],
input[type="submit"],
.join a {
    background-color: transparent;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    padding: 18px 20px;
    border-radius: 2px;
    border: 1px solid #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover,
.join a:hover {
    background-color: #fff;
    color: #e4004d;
}
.join {
    padding: 50px 0;
}
.join a {
    padding: 20px 40px;
    border: 1px solid #e4004d;
    background-color: #e4004d;
    color: #fff;
    float: left;
    margin-right: 50px;
}
.join p {
    padding-top: 7px;
    line-height: 1.6em;
    color: #777;
    font-size: 14px;
}
.join:after {
    content: '';
    display: block;
    clear: both;
}
input[type="submit"] {
    background-color: #fff;
    color: #e4004d;
}
input:disabled {
    opacity: 0.6;
    background-color: transparent !important;
    color: #fff !important;
    cursor: default;
}
.photos .gallery {
    font-size: 0;
}
.photos .gallery img {
    width: 50%;
    display: inline-block;
}
.photos .gallery img:nth-child(2n) {
    border-left: 1px solid #fff;
}
.photos .gallery img:nth-child(2n-1) {
    border-right: 1px solid #fff;
}
.photos p {
    line-height: 1.5em;
    margin-bottom: 2px;
}
.photos .page-width {
    padding-top: 30px;
    padding-bottom: 30px;
}
.photo {
    padding: 90px 0 70px;
}
.photo img {
    width: 40%;
    margin: 0 auto 40px;
}
.photo p {
    line-height: 1.5em;
    margin-bottom: 2px;
}
.more-about {
    padding: 80px 0;
}
.more-about h3 {
    font-weight: 700;
}
.more-about p {
    margin: 20px 0;
    line-height: 1.7em;
}
.more-about a {
    text-decoration: underline;
}
.more-about ul li {
    list-style: none;
    padding-top: 18px;
    margin-top: 20px;
    line-height: 1.6em;
    border-top: 2px solid #ddd;
}
.more-about ul li strong {
    font-weight: 700;
}
.contact p {
    margin: 20px 0;
    line-height: 1.5em;
    font-size: 18px;
}
.contact a:hover {
    text-decoration: underline;
}
.logo-examples {
    padding: 70px 0 50px;
}
.logo-examples h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}
.logo-examples .list {
    font-size: 0;
}
.logo-examples .list div {
    display: inline-block;
    float: left;
    width: 143px;
    height: 200px;
    padding-top: 115px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 115px;
    background-color: #fff;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid #fff;
    text-align: center;
}
.logo-examples h5 {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 1.4em;
    color: #111;
}
.logo-examples .author {
    font-size: 10px;
    line-height: 1.5em;
    color: #888;
}
.logo-examples .list:after {
    content: '';
    display: block;
    clear: both;
}
.places {
    padding: 70px 0 90px;
}
.places a {
    display: block;
    margin-bottom: 16px;
}
.places a img {
    height: 70px;
}
.places h2 {
    margin-bottom: 40px;
}
.places h3 {
    height: 57px;
    font-size: 18px;
    line-height: 1.3em;
}
.places p.date {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 22px;
}
.places p.description {
    line-height: 1.5em;
    font-size: 15px;
}
footer {
    font-size: 14px;
    margin-top: 60px;
    padding-bottom: 55px;
}
footer .top {
    padding: 30px 0;
}
footer .top a:hover {
    text-decoration: underline;
}
footer .top:after {
    content: '';
    display: block;
    clear: both;
}
footer .top .author {
    float: left;
    line-height: 1.5em;
    font-size: 14px;
}
footer .top .links {
    float: right;
    line-height: 1.5em;
}
footer .top .links a {
    display: inline-block;
    float: left;
    line-height: 1.5em;
}
footer .top .links a + a {
    margin-left: 12px;
}
footer .friends {
    border-top: 1px solid #ffc5d9;
    padding: 20px 0;
}
footer .friends h3 {
    float: left;
    font-weight: 500;
    line-height: 1.2em;
    width: 90px;
    padding-top: 20px;
}
footer .friends.partners-media h3 {
    padding-top: 10px;
}
footer .friends a {
    padding: 0 15px;
}
footer .friends a:hover {
    opacity: 0.8;
}
form h2 {
    margin-top: 70px;
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select,
form textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ffc5d9;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding: 0 0 3px;
}
form input[type="file"],
select {
    cursor: pointer;
}
form textarea {
    padding: 10px 0 12px;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="number"]:focus,
form select:focus,
form textarea:focus {
    box-shadow: none;
    border-color: #fff;
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select {
    height: 40px;
}
form select {
    background: #e4004d url('../img/owzg/select-arrow.svg') no-repeat center right;
}
form textarea {
    height: 272px;
    resize: none;
}
form .field {
    display: block;
    margin-top: 40px;
}
form .field label {
    display: block;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 20px;
}
form .field label:after {
    content: ':';
}
form .field.required label:after {
    content: ': *';
}
form .field:hover input[type="text"],
form .field:hover input[type="password"],
form .field:hover input[type="email"],
form .field:hover input[type="tel"],
form .field:hover input[type="number"],
form .field:hover textarea,
form .field:hover select {
    border-color: #fff;
}
form .field.right {
    text-align: right;
}
form .action {
    padding-top: 70px;
    text-align: right;
    font-size: 0;
}
/*form .action input[type="button"] {
    float: right;
}*/
form .action input[type="submit"] {
    margin-left: 15px;
}
form .action:after {
    content: '';
    display: block;
    clear: both;
}
form input[type="radio"] {
    margin-right: 10px;
}
form .categories label + label {
    margin-top: 10px;
}
form .fileField {
    position: relative;
}
form .fileField input {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
form .fileField input.selected + .add-file {
    background: #fff;
    color: #e4004d;
    text-align: left;
}
form .fileField input.selected + .add-file:before {
    content: '';
}
form .fileField .add-file {
    display: block;
    font-weight: 500;
    height: 40px;
    border: 1px solid #ffc5d9;
    line-height: 38px;
    padding: 0 15px;
    border-radius: 1px;
    text-align: right;
    font-size: 12px;
}
form .fileField input[type="file"]:hover + .add-file {
    border-color: #fff;
}
form .fileField .add-file:before {
    content: '+ WYBIERZ PLIK ';
    font-weight: 700;
    float: left;
    display: inline-block;
    font-size: 13px;
}
form .fileField + .fileField {
    margin-top: 18px;
}
form .user-data h2 {
    margin: 30px 0;
}
form .user-data p {
    margin: 5px 0;
}
form .accept-rules {
    margin-top: 50px;
}
form .accept-rules label {
    display: block;
    padding-left: 25px;
    font-size: 13px;
    line-height: 1.4em;
}
form .accept-rules input {
    margin: 2px 0 0 0;
    float: left;
}
form .accept-rules a {
    text-decoration: underline;
}
form .accept-rules p {
    margin-top: 30px;
}
form .accept-rules p:first-child {
    margin-top: 0;
}
form .error-div {
    margin: 10px 0;
}
form .error-div .error {
    margin-top: 5px;
    font-size: 12px;
    color: #FFDF6A;
    font-weight: bold;
}
form .error {
    border-color: #FFF6BF !important;
}

section.white form .error {
    border-color: #E43B76 !important;
    color: #E4004D;
}

.application {
    transition: height 0.4s cubic-bezier(0, 0, 0.25, 1);
    -webkit-transition: height 0.4s cubic-bezier(0, 0, 0.25, 1);
    display: none;
    overflow: hidden;
}
.application.visible {
    display: block;
}
.close-application {
    text-align: center;
    cursor: pointer;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 18px;
}
.close-application:hover {
    color: #E4004D;
    background: #fff;
}
::-webkit-file-upload-button {
    cursor: pointer;
}
.columns.double > div {
    width: 50%;
    float: left;
}
.columns.double > div:first-child {
    padding-right: 30px;
}
.columns.about p:last-child {
    margin-bottom: 0;
}
.columns.double > div:last-child {
    padding-left: 30px;
}
.columns.triple > div {
    width: 33.333%;
    float: left;
}
.columns.triple > div:first-child {
    padding-right: 20px;
}
.columns.triple > div:nth-child(2) {
    padding: 0 10px;
}
.columns.triple > div:last-child {
    padding-left: 20px;
}
.columns:after {
    content: '';
    display: block;
    clear: both;
}
.rules .page-width {
    padding-right: 250px;
}
.rules h3 {
    margin: 40px 0 20px;
}
.rules a {
    text-decoration: underline;
}
.rules p {
    line-height: 1.4em;
    margin-top: 20px;
}
.rules ul {
    list-style: lower-latin;
    margin-left: 22px;
}
.rules ul li {
    line-height: 1.5em;
}
.rules ul ul {
    list-style: disc;
    margin-left: 17px;
}
.rules ul ul li {
    margin-top: 0;
}
html.working {
    height: 100%;
}
body.working {
    background-color: #e4004d;
    color: #fff;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 100%;
}
body.working * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1em;
    outline: none;
}
body.working main {
    display: table;
    width: 100%;
    height: 100%;
}
body.working main > div {
    display: table-cell;
    text-align: center;
    padding: 80px 50px 100px;
    vertical-align: middle;
}
body.working main img {
    margin-bottom: 70px;
}
body.working main p {
    font-size: 26px;
    line-height: 36px;
}
.application-list-width {
    width: auto;
    margin: 0 auto;
}
.application-list {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}
.application-list + h1 {
    margin-top: 40px;
}
.application-list .description {
    white-space: nowrap;
}

.application-list td,
.application-list th {
    padding: 20px 20px 20px 0;
}
.application-list th {
    border-bottom: 1px solid #ccc;
    padding-top: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 12px;
    text-align: left;
}
.application-list td {
    border-bottom: 1px solid #ccc;
}

.application-list .actions {
    white-space: nowrap;
}
.application-list .actions a {
    text-decoration: underline;
    /*    display: inline-block;
        float: left;*/
}

.application-list tr td {
    width: 20%;
}
.application-list .minimum {
    width: 1px !important;
}
.application-list .actions a + a {
    margin-left: 10px;
}
#login-form,
#reset-form {
    width: 40%;
    margin: -20px auto 0;
}
#login-form label,
#reset-form label {
    text-align: left;
}
#login-form input[type="submit"],
#reset-form input[type="submit"]{
    margin-top: 20px;
}
.forgot-password {
    margin: 15px 0 0 0;
    font-size: 11px;
    text-decoration: underline;
}

.project {
    overflow: hidden;
    padding-bottom: 30px;
}
.project .left,
.project .right{
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-top: 20px;
}
.project .left {
    padding-right: 30px;
}
.project .right {
    padding-left: 30px;
}
.project h2 {
    font-weight: 300;
    font-size: 20px;
    text-transform: none;
    border-bottom: 1px dashed #000;
    width: 450px;
    padding: 0 0 5px 10px;
}
.project h2 .edit {
    font-size: 12px;
}
dl.application {
    display: block;
    overflow: hidden;
    padding: 15px 0;
}
dl.application dt {
    background: #e4004d;
    color: #fff;
    float: left;
    font-weight: normal;
    margin: 0 10px 2px 0;
    padding: 5px;
    width: 150px;
}
dl.application dd {
    margin: 0 0 2px 160px;
    padding: 5px 0;
    min-height: 26px;
}
dl.user {
    display: block;
    overflow: hidden;
    padding: 15px 0;
}
dl.user dt {
    background: #e4004d;
    color: #fff;
    float: left;
    font-weight: normal;
    margin: 0 10px 2px 0;
    padding: 5px;
    width: 150px;
}
dl.user dd {
    margin: 0 0 2px 150px;
    padding: 5px 0;
}
.file-list {
    list-style-type: none;
    white-space: nowrap;
}
.file-list li {
    display: inline-block;
}
.file-list li + li {
    margin-left: 6px;
}
.file-list li .file {
    display: block;
    width: 25px;
    height: 32px;
    background: transparent url('../img/owzg/file-icon.svg') no-repeat left center;
    color: #888;
    line-height: 32px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
/*.file-list li .file.type-pdf {
    background: transparent url('../img/owzg/pdf.png') no-repeat;
}
.file-list li .file.type-jpg {
    background: transparent url('../img/owzg/jpg.png') no-repeat;
}
.file-list li .file.type-jpeg {
    background: transparent url('../img/owzg/jpg.png') no-repeat;
}*/
.file-list li .file.type-pdf:before {
    content: 'PDF';
}
.file-list li .file.type-jpg:before,
.file-list li .file.type-jpeg:before {
    content: 'JPG';
}
.project .file-list li {
    display: block;
}
.project .file-list li .file {
    display: block;
    padding-left: 42px;
    height: 42px;
    line-height: 42px;
}
.project .file-list li.pdf {
    margin: 0 0 20px 0;
}
.project .file-list li.jpg {
    float: left;
    margin-right: 10px;
}
.project .file-list li.jpg:nth-child(3) {
    clear: both;
}

section.photo.light.single div {
    overflow: hidden;
}
section.photo.light.single img {
    float: left;
}
section.photo.light.single img + p {
    float: left;
    width: 500px;
    margin-left: 30px;
    margin-top: calc(201px - 96px);
}

section.sliwka {
    background: url('../img/owzg/ks.jpg') right no-repeat #000;
    background-size: auto 100%;
    padding: 200px 0;
}
section.sliwka p {
    white-space: pre-line;
    line-height: 2em;
    font-size: 110%;
    color: #bbb;
}

.newsletter {
    border: 0;
    display: block;
    width: 50%;
    height: 300px;
    margin: 20px -10px 0;
    overflow: hidden;
}

.newsletter-form {
    margin-top: 30px;
}
.newsletter-form input[type="email"] {
    display: block;
    width: 310px;
    padding: 0 15px 3px;
    font-size: 110%;
    height: 54px;
    float: left;
    border-width: 1px;
    margin-right: 10px;
}

div.filters {
    padding: 40px 0;
    background-color: #e6e6e6;
}
div.filters .page-width {
    position: relative;
}
div.filters h4 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
}
div.filters ul.vote-filter {
    list-style-type: none;
}
div.filters ul.vote-filter li {
    display: inline-block;
    background: #4E9BDD;
    border: 1px solid #4E9BDD;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}
div.filters ul.vote-filter li,
div.filters ul.type-filter li {
    margin-right: 5px;
}
div.filters ul.vote-filter li#vote-val1 {
    background: #43B581;
    border-color: #43B581;
}
div.filters ul.vote-filter li#vote-val0 {
    background: #F04848;
    border-color: #F04848;
}
div.filters ul.vote-filter li.unselected,
div.filters ul.type-filter li.unselected {
    background: none !important;
    color: #666;
}
div.filters ul.vote-filter li#vote-val.unselected {
    color: #4E9BDD;
}
div.filters ul.vote-filter li#vote-val1.unselected {
    color: #43B581;
}
div.filters ul.vote-filter li#vote-val0.unselected {
    color: #F04848;
}

div.filters ul.type-filter {
    list-style-type: none;
    margin: 15px 0 0 0;
}
div.filters ul.type-filter li {
    display: inline-block;
    background-color: #aaa;
    border: 1px solid #aaa;
    padding: 7px 15px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.voting-applications {
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    padding: 40px 15px;
}
.voting-applications li.item {
    display: inline-block;
    width: 202px;
    height: 222px;
    margin: 15px;
    cursor: pointer;
    position: relative;
}
.voting-applications li.item:hover {
    border-color: #ddd;
}
.voting-applications li.item.loading:after {
    content: '';
    display: block;
    background: #fff url('../img/loader.gif') no-repeat center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}
.voting-applications li.item .vote_status {
    display: block;
    width: 8px;
    height: 8px;
    background: #4E9BDD;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 3;
}
.voting-applications li.item .vote_status.vote-val1 {
    background: #43B581;
}
.voting-applications li.item .vote_status.vote-val0 {
    background: #F04848;
}

.voting-applications li.item img {
    -webkit-transition: opacity 0.1s ease;
    -moz-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
    position:absolute;
    left:0;
    top: 0;
    border: 1px solid #efefef;
}

.voting-applications li.item .color_sign {
    opacity: 0;
}
.voting-applications li.item:hover .color_sign {
    opacity: 1;
}
.voting-applications li.item .app-id {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.overlay-wrapper {
    display: none;
}
.overlay-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index: 10;
}
.overlay {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    z-index: 12;
    overflow-y: auto;
    padding-bottom: 50px;
}
.overlay .page-width {
    background-color: #fff;
    padding: 120px 40px 40px;
}
body.entry-visible {
    height: 100%;
    overflow: hidden;
}
.overlay-header {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 15;
}
.overlay-header .page-width {
    background-color: #fff;
    padding: 32px 40px 0;
    border-bottom: 1px solid #ddd;
    height: 85px;
}

.overlay-header #apps-counter {
    opacity: 0.3;
}
.overlay-header .application-header {
    width: 400px;
    display: block;
    float: left;
    min-height: 28px;
    line-height: 28px;
    color: #000;
    font-size: 120%;
}
.overlay-header .application-votes {
    list-style-type: none;
    display: block;
    min-height: 28px;
    float: right;
    width: 350px;
}
.overlay-header #overlay-nav {
    overflow: hidden;
    display: block;
    float: right;
}
.overlay-header #overlay-nav span {
    background: transparent url('../img/owzg/vote-nav.png') 0 0;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.4;
}
.overlay-header #overlay-nav span:hover {
    opacity: 1;
}
.overlay-header #overlay-nav #app-prev {
    background-position: 0 0;
}
.overlay-header #overlay-nav #app-next {
    background-position: -30px 0;
}
.overlay-header #overlay-nav #app-close {
    background-position: -72px 0;
    margin-left: 20px;
}
.overlay-header .application-votes li {
    display: inline-block;
    background: none;
    border: 1px solid #4E9BDD;
    padding: 5px 10px;
    color: #4E9BDD;
    border-radius: 3px;
    cursor: pointer;
}
.overlay-header .application-votes li:hover {
    text-decoration: underline;
}
.overlay-header .application-votes li + li {
    margin-left: 7px;
}
.overlay-header .application-votes #app-vote1 {
    border-color: #43B581;
    color: #43B581;
}
.overlay-header .application-votes #app-vote0 {
    border-color: #F04848;
    color: #F04848;
}
.overlay-header .application-votes li.selected {
    background: #4E9BDD;
    color: #fff;
}
.overlay-header .application-votes #app-vote1.selected {
    background: #43B581;
    color: #fff;
}
.overlay-header .application-votes #app-vote0.selected {
    background: #F04848;
    color: #fff;
}
.overlay .overlay-content #application-description {
    line-height: 1.8em;
    width: 100%;
    word-break: normal;
    /*white-space: pre-line;*/
}

.overlay .overlay-content .application-images .pdf-files > div {
    /*float: left;
    width: 50%;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
.overlay .overlay-content .application-images .pdf-files:after {
    content: '';
    display: block;
    clear: both;
}
.overlay .overlay-content .application-images .pdf-files > div img {
    margin: 0 auto;
    display: block;
    background-color: #fff;
}
.overlay .overlay-content .application-images .identifications {
    clear: both;
}
.overlay .overlay-content .application-images .identifications img {
    display: block;
    margin: 0 auto;
}

.application-images {
    margin-top: 30px;
}

.application-images .mono-sign,
.application-images .color-sign:not(:empty) {
    padding: 100px 0;
    border: 1px solid #eee;
    background: url('../img/loader.gif') no-repeat center;
}

.voting-applications li.item .color_sign {
    background-color: #fff;
}
.application-images .mono-sign,
.application-images .color-sign:not(:empty),
.overlay .overlay-content .application-images .identifications:not(:empty) img {
    margin-top: 30px;
}

.overlay .overlay-content .app-id {
    margin: 10px 0;
}

#app-more-info {
    clear: both;
    padding-bottom: 15px;
}
#app-more-info ul {
    list-style-type: none;
    color: #000;
    text-align: left;
}
#app-more-info ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    border-right: 1px solid #000;
}
#app-more-info ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}
#app-more-info ul li:last-child {
    border: 0;
}

.pager {
    width: auto;
    float: right;
    position: absolute;
    right: 0px;
    top: 20px;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}
.pager ul {
    list-style-type: none;
    margin-top: 5px;
}
.pager ul li {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    border-right: 1px solid #eee;
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    padding-right: 10px;
}
.pager ul li:last-child {
    margin: 0;
    padding: 0;
    border: 0;
}