<div class="nav-section">
    <?php if ($this->user->user_id != null):?>
    <div class="user">
        <a href="<?php echo $this->url(array('id' => $this->user->user_id), 'user_edit');?>">
            <span class="name"><?php echo $this->translate('%s (edit)', $this->user->name, $this->user->role);?></span>
        </a>
        <a href="<?php echo $this->url(array(), 'logout');?>"><?php echo $this->translate('Logout');?></a>
    </div>
    <?php else: ?>
    <div class="user">
        <a href="<?php echo $this->url(array(), 'login');?>"><?php echo $this->translate('Login');?></a>
    </div>
    <?php endif;?>
    <nav>
        <a href="<?php echo $this->url(array(), 'about') ?>" title="O wystawie" <?php if ($this->active_menu == 'about'):?>class="active"<?php endif;?>>O wystawie</a>
        <a href="<?php echo $this->url(array(), 'application_new') ?>" title="Zgłoś projekt" <?php if ($this->active_menu == 'application'):?>class="active"<?php endif;?>>Zgłoś projekt</a>
        <?php if ($this->user->user_id != null):?>
            <a href="<?php echo $this->url(array(), 'application_list') ?>" title="Przegląd projektów" <?php if ($this->active_menu == 'application_list'):?>class="active"<?php endif;?>>Przegląd projektów</a>
        <?php endif;?>
        <a href="<?php echo $this->url(array(), 'rules') ?>" title="Warunki zgłoszenia" <?php if ($this->active_menu == 'rules'):?>class="active"<?php endif;?>>Warunki zgłoszenia</a>
        <a href="<?php echo $this->url(array(), 'contact') ?>" title="Kontakt" <?php if ($this->active_menu == 'contact'):?>class="active"<?php endif;?>>Kontakt</a>
    </nav>
</div>