<?php
/** @var Application_Form_Application $form */
$form = $this->element;
$appSettings = Zend_Registry::get('appSettings');
?>

<form action="<?php echo $this->escape($form->getAction()); ?>"
      method="<?php echo $this->escape($form->getMethod()); ?>"
      enctype="<?php echo $form->getEnctype(); ?>" id="applicationForm">

    <?php echo $form->edition_id; ?>

    <?php if($form->getUser() != null): ?>
    <div class="user-data">
        <h2><?php echo $this->translate('applicant'); ?></h2>
        <p><?php echo $form->getUser()->getUserFullName(); ?> (<?php echo $form->getUser()->company; ?>)</p>
        <p><?php echo $form->getUser()->email; ?></p>
    </div>
    <?php else: ?>
        <h2><?php echo $this->translate('new_user_account'); ?></h2>
        <?php echo $form->getSubForm('user')->setDecorators(array(
            array('ViewScript', array('viewScript' => 'forms/_applicationUserForm.phtml'))
        )); ?>
    <?php endif; ?>

    <div class="accept-rules">
        <?php echo $form->rules_agreement; ?>
        <?php echo $form->copyright; ?>
        <?php echo $form->newsletter;?>
    </div>

    <?php for ($i = 1; $i <= $form->getApplications(); $i++):?>
    <div class="application" id="application-<?php echo $i;?>">
        <h2>
            Projekt #<span class="application-count"><?php echo $i;?></span>
            <?php if ($i > 1):?>
            <span class="close-application" id="application-<?php echo $i;?>-close">x</span>
            <?php endif;?>
        </h2>
        <?php echo $form->getSubForm("entry[{$i}]");?>
    </div>
    <?php endfor;?>

    <div class="action">
        <input type="button" id="add-new-application" value="+ Dodaj następny projekt">
        <?php echo $form->submit; ?>
    </div>
</form>
