<?php
/** @var Application_Form_Application_Entry $form */
$form = $this->element;
$number = $form->getNumber();
?>
<form action="<?php echo $this->escape($form->getAction()); ?>"
      method="<?php echo $this->escape($form->getMethod()); ?>"
      enctype="<?php echo $form->getEnctype(); ?>" id="applicationForm">

    <div class="columns triple">
        <div>
            <div class="field required"><?php echo $form->work_subject; ?></div>
            <div class="field"><?php echo $form->authors; ?></div>
            <div class="field"><?php echo $form->customer; ?></div>
            <div class="field required"><?php echo $form->project_year; ?></div>
        </div>

        <div>
            <div class="field required"><?php echo $form->getSubForm("entry[mono_sign]");?></div>
            <div class="field"><?php echo $form->getSubForm("entry[color_sign]");?></div>
            <div class="field">
                <?php echo $form->getSubForm("entry[identification_1]");?>
                <?php echo $form->getSubForm("entry[identification_2]");?>
                <?php echo $form->getSubForm("entry[identification_3]");?>
            </div>
        </div>

        <div>
            <div class="field required"><?php echo $form->work_type_id; ?></div>
            <div class="field"><?php echo $form->work_desc; ?></div>
        </div>
    </div>

    <div class="action">
        <?php echo $form->submit; ?>
    </div>
</form>