<?php
/** @var Application_Form_User $form */
$form = $this->element;
?>
<div class="columns triple">
    <div>
        <div class="field required">
            <?php echo $form->email; ?>
        </div>

        <div class="field required">
            <?php echo $form->password; ?>
        </div>
    </div>

    <div>
        <div class="field required">
            <?php echo $form->name; ?>
        </div>
        <div class="field">
            <?php echo $form->company; ?>
        </div>
    </div>

    <div>
        <div class="field required">
            <?php echo $form->address; ?>
        </div>
        <div class="field required">
            <?php echo $form->phone; ?>
        </div>
    </div>
</div>