<?php
/** @var Application_Form_Application_Entry $form */
$form = $this->element;
$number = $form->getNumber();
?>
<?php echo $form->active; ?>
<div class="columns triple">
    <div>
        <div class="field required"><?php echo $form->work_subject; ?></div>
        <div class="field"><?php echo $form->authors; ?></div>
        <div class="field"><?php echo $form->customer; ?></div>
        <div class="field required"><?php echo $form->project_year; ?></div>
    </div>

    <div>
        <div class="field required"><?php echo $form->getSubForm("entry[{$number}][mono_sign]");?></div>
        <div class="field"><?php echo $form->getSubForm("entry[{$number}][color_sign]");?></div>
        <div class="field">
            <?php echo $form->getSubForm("entry[{$number}][identification_1]");?>
            <?php echo $form->getSubForm("entry[{$number}][identification_2]");?>
            <?php echo $form->getSubForm("entry[{$number}][identification_3]");?>
        </div>
    </div>

    <div>
        <div class="field required"><?php echo $form->work_type_id;?></div>
        <div class="field required"><?php echo $form->work_desc;?></div>
    </div>
</div>