<?php $form = $this->element; ?>

<form id="login-form" action="<?php echo $this->escape($form->getAction()); ?>" method="<?php echo $this->escape($form->getMethod()); ?>">

	<?php echo $form->csrf->renderViewHelper(); ?>

    <div class="field required"><?php echo $form->email;?></div>
    <div class="field required"><?php echo $form->password;?></div>
    <p class="forgot-password">
        <a href="<?php echo $this->url(array(), 'auth_remember');?>"><?php echo $this->translate('Forgot password');?></a>
    </p>

    <div class="field">
		<?php echo $form->submit; ?>
	</div>
		
</form>
