<?php $form = $this->element; ?>

<form id="reset-form" action="<?php echo $this->escape($form->getAction()); ?>" method="<?php echo $this->escape($form->getMethod()); ?>">

	<?php echo $form->csrf->renderViewHelper(); ?>

    <div class="field required"><?php echo $form->password;?></div>

    <div class="field">
		<?php echo $form->submit; ?>
	</div>
		
</form>
