<?php
/** @var Application_Form_User $form */
$form = $this->element;
?>

<form action="<?php echo $this->escape($form->getAction()); ?>"
      method="<?php echo $this->escape($form->getMethod()); ?>"
      enctype="<?php echo $form->getEnctype(); ?>" id="applicationForm">

    <div>
        <?php echo $form->user_id; ?>
        <div class="field required">
            <?php echo $form->email; ?>
        </div>

        <div class="field required">
            <?php echo $form->password; ?>
        </div>

        <div class="field <?php if ($form->name->isRequired()):?>required<?php endif;?>">
            <?php echo $form->name; ?>
        </div>
        <div class="field">
            <?php echo $form->company; ?>
        </div>
        <div class="field <?php if ($form->address->isRequired()):?>required<?php endif;?>">
            <?php echo $form->address; ?>
        </div>
        <div class="field <?php if ($form->phone->isRequired()):?>required<?php endif;?>">
            <?php echo $form->phone; ?>
        </div>

        <div class="action">
            <?php echo $form->submit; ?>
        </div>
    </div>
</form>