<main>
    <section class="more-about">
        <div class="page-width">

            <h1>O wystawie</h1>

            <div class="columns double about">
                <div>

                    
                    <ul>
                        <li>
                            <i>Druga Ogólnopolska Wystawa Znaków Graficznych</i> zaprezentuje najlepsze polskie znaki graficzne z lat 1945–1969 oraz 2000–2015, a także przybliży historię polskiej grafiki użytkowej i pozwoli skonfrontować dokonania nestorów projektowania z najnowszym projektowaniem graficznym.
                        </li>
                        <li>
                            Pierwsza część wystawy będzie odtworzeniem legendarnej ekspozycji z 1969 roku, na której pokazano 335 znaków takich twórców jak: Stefan Bernaciński, Ryszard Bojar, Jerzy Cherka, Roman Duszek, Jan Hollender, Jarosław Jasiński, Emilia Nożko-Paprocka, Karol Śliwka, Leon Urbański, Tytus Walczak, Franciszek Winiarski i wielu innych. Nawiązując do tamtego wydarzenia, druga część wystawy przedstawi 335 najnowszych znaków powstałych w latach 2000–2015.
                       
                        </li>
                    </ul>

                </div>
                <div>

                    <ul>
                        <li>
                            Aby wziąć udział w projekcie, należy zgłosić znak wraz z&nbsp;identyfikacją wizualną, wypełniając <a href="zglos-projekt">formularz</a>. Zgłoszenia można nadsyłać w trzech kategoriach: projekt zrealizowany, projekty niezrealizowany oraz projekt studencki. O&nbsp;zakwalifikowaniu się prac na wystawę zadecydują<br>kuratorzy po konsultacji z gronem wybitnych specjalistów.<!-- <br>Projekty należy zgłaszać do 30.06.2015. -->
                        </li>
                        <li>
                            Aby zaprezentować w pełni dokonania z dziedziny projektowania znaku, ekspozycję uzupełni dodatkowy nabór kuratorski.
                        </li>
                    </ul>

                </div>
            </div>



<!--             <div class="columns double">
                <div>

                    <ul>
                        <li><i>Druga Ogólnopolska Wystawa Znaków Graficznych</i> to pierwsza od 46 lat wystawa prezentująca najlepsze polskie znaki graficzne. Wystawa będzie składać się z dwóch części.</li>
                        <li><strong>Pierwsza część</strong> będzie odtworzeniem legendarnej, <i>Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych</i> z maja 1969 roku. Zostaną na niej zaprezentowane znaki m.in. takich twórców jak Stefan Bernaciński, Ryszard Bojar, Jerzy Cherka, Roman Duszek,
                            Jan Hollender, Jarosław Jasiński, Emilia Nożko-Paprocka, Karol Śliwka, Leon Urbański, Tytus Walczak, Franciszek Winiarski i wielu innych. Będzie to okazja do zobaczenia często zapomnianych, ale wartych uwagi dokonań projektowych z lat 1945–1969, a także do prześledzenia
                            ich historii i porozmawiania z żyjącymi jeszcze twórcami.
                        </li>
                    </ul>

                </div>
                <div>

                    <ul>
                        <li><strong>Druga część</strong> zaprezentuje 335 współczesnych znaków (z lat 2000–2015). Każdy może zgłosić swoje projekty w naborze indywidualnym, w zakładce <a href="zglos-projekt">Zgłoś projekt</a>. Selekcji zgłoszonych projektów dokona specjalnie powołana do tego grupa
                            researcherów i konsultantów. Nowością w stosunku do <i>Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych</i> jest możliwość zgłoszenia znaku wraz z elementami identyfikacji wizualnej. Znaki można nadsyłać w trzech kategoriach: projekty wdrożone, projekty niewdrożone
                            oraz projekty studenckie.
                        </li>
                        <li>Planowane są także wystawy poza granicami na największych europejskich festiwalach dizajnu. Ma to na celu prezentację specyfiki oraz historii polskiego projektowania, a także promocję twórców.</li>
                    </ul>

                </div>
            </div> -->

        </div>
    </section>

<!--     <section class="photos light">

        <div class="gallery">
            <img src="<?php echo $this->baseUrl('img/owzg/foto-1.jpg');?>">
            <img src="<?php echo $this->baseUrl('img/owzg/foto-4.jpg');?>">
        </div>

        <div class="page-width" style="text-align:center">
            <p>Fotografie pochodzą z historycznej <i>Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych</i>. <u>Warszawa, maj 1969 rok. fot. CAF</u></p>
        </div>

    </section> -->

    <section class="light more-about">
        <div class="page-width">

            <h2>Idea</h2>

            <div class="columns double">
                <div>

                    <ul>
                        <li>krytyczne spojrzenie na specyfikę polskiego projektowania znaku,</li>
                        <li>analiza formy i funkcji znaku w różnych aspektach (w tym informacyjnym, marketingowym oraz kulturotwórczym),</li>
                        <li>zapoznanie się z historią polskiego znaku oraz przybliżenie sylwetek projektantów,</li>
                        <li>budowanie tożsamości projektowej,</li>
                        <li>konsolidacja środowiska projektowego zarówno pod względem pokoleniowym, jak i pod względem różnorodności branżowej,</li>
                        <li>analiza rozwoju dziedzin projektowych w kontekście zmian historycznych, ekonomicznych i społecznych.</li>
                    </ul>

                </div>
                <div>

                    <ul>
                        <li>przybliżenie spostrzeżeń osób uznanych za autorytety w tej dziedzinie (projektantów, wykładowców, rzeczników patentowych, historyków dizajnu),</li>
                        <li>skatalogowanie najlepszych projektów,</li>
                        <li>utworzenie wydarzenia mogącego prezentować najlepsze polskie dokonania projektowe poza granicami kraju,</li>
                        <li>wymiana spostrzeżeń i poglądów z osobami spoza środowiska (np. na zasadzie klient – projektant, nadawca – odbiorca).</li>
                    </ul>

                </div>
            </div>

        </div>
    </section>

    <section class="places">
        <div class="page-width">

            <h2>Miejsca wystaw</h2>

            <div class="columns triple">

                <div>
                    <a href="http://www.centrumdesignu.gdynia.pl"><img src="<?php echo $this->baseUrl('img/partners/centrum-designu-gdynia.svg');?>"></a>

                    <h3>Centrum Designu<br>Gdynia</h3>

                    <p class="date">04.09.2015–23.10.2015</p>

                    <p class="description">Największe w Polsce centrum przedsiębiorczości i dizajnu,  zajmujące się wsparciem i promocją sektora kreatywnego na Pomorzu. Centrum Designu Gdynia działa w&nbsp;ramach Pomorskiego Parku Naukowo-Technologicznego. CDG Jest także organizatorem największego, letniego festiwalu projektowego Gdynia Design Days.</p>

                </div>

                <div>
                    <a href="http://www.artmuseum.pl"><img src="<?php echo $this->baseUrl('img/partners/muzeum-sztuki-nowoczesnej.svg');?>"></a>

                    <h3>Muzeum Sztuki Nowoczesnej w&nbsp;Warszawie</h3>

                    <p class="date">13.11.2015–31.12.2015</p>

                    <p class="description">Jedna z najważniejszych i najpopularniejszych instytucji zajmujących się sztuką nowoczesną w&nbsp;Polsce (w roku 2014 muzeum odwiedziło 134 tysięcy widzów). Muzeum realizuje programy badawcze w zakresie historii sztuki najnowszej, sukcesywnie rozbudowuje swoją ofertę dla publiczności, skoncentrowaną na sztukach wizualnych, projektowaniu graficznym, wzornictwie i&nbsp;architekturze.  </p></div>

                <div>
                    <a href="http://www.bwa.wroc.pl"><img src="<?php echo $this->baseUrl('img/partners/bwa.svg');?>"></a>

                    <h3>Galeria Dizajn BWA<br>Wrocław</h3>

                    <p class="date">marzec–kwiecień 2016</p>

                    <p class="description">Pierwsza w Polsce oraz jedna z najciekawszych galerii dizajnu promująca środowiska twórcze związane z tematyką projektowania. Działania galerii skupiają się przede wszystkim wokół wystaw kuratorskich, aktywności wydawniczych (książki, plakaty) i&nbsp;warsztatowych. Od kilku lat flagowym projektem edukacyjnym galerii jest Teraz Dizajn!,  obejmujący m.in. 3D czyli Dizajn Dla Dzieci,  Szafę Polską oraz Typoaktywizm.</p>
                </div>

            </div>

        </div>
    </section>

    <section class="white logo-examples">
        <div class="page-width">

            <h2>Na wystawie zaprezentujemy m.in.:</h2>

            <div class="list">
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/botczsp.jpg');?>')"><h5>Biuro Organizacji Targów Centralnego Związku Spółdzielczości Pracy</h5><p class="author">Tadeusz Jodłowski, 1967</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/chzp.jpg');?>')"><h5>Centrala Handlu Zagranicznego Petrolimpex</h5><p class="author">Karol Śliwka, 1967</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/cpn.jpg');?>')"><h5>Centrala Produktów Naftowych</h5><p class="author">Ryszard Bojar, Jerzy Słowikowski i&nbsp;Stefan Solik, 1967</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/csoo.jpg');?>')"><h5>Centrala Spółdzielni Ogrodniczych Ogród</h5><p class="author">Eugeniusz Zduniewski, 1947</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/dmt.jpg');?>')"><h5>Dom Mody Telimena</h5><p class="author">Witold Surowiecki, 1967</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/frtp.jpg');?>')"><h5>Fundusz Rozwoju Twórczości Plastycznej</h5><p class="author">Waldemar Andrzejewski</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/ibib.jpg');?>')"><h5>Instytut Biochemii i&nbsp;Biofizyki</h5><p class="author">Pan Hubert Hilscher, 1971-1978</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/mbp.jpg');?>')"><h5>Międzynarodowe Biennale Plakatu</h5><p class="author">Wojciech Zamecznik, 1966</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/mw.jpg');?>')"><h5>Muzeum Wisły</h5><p class="author">Ryszard Bojar, 1967</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/tpw.jpg');?>')"><h5>Towarzystwo Przyjaciół Warszawy</h5><p class="author">Karol Śliwka, 1968</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/wfmiku.jpg');?>')"><h5>Warszawska Fabryka Mydła i&nbsp;Kosmetyków Uroda</h5><p class="author">Karol Śliwka, 1967</p></div>
                <div style="background-image: url('<?php echo $this->baseUrl('img/examples/wzwm.jpg');?>')"><h5>Warszawskie Zakłady Wyrobów Metalowych</h5><p class="author">Roman Duszek, 1962</p></div>
            </div>

        </div>
    </section>

    <section class="sliwka">

        <div class="page-width">

            <p>Do projektu zaproszony został także Karol Śliwka, autor m.in. logo PKO,
            Instytutu Matki i Dziecka czy Wydawnictw Szkolnych i Pedagogicznych.
            W 1969 roku zaprojektował on znak &nbsp;<i>Pierwszej Ogólnopolskiej Wystawy
            Znaków Graficznych</i>, który promuje także jej najnowszą edycję.</p>

        </div>

    </section>
</main>