<main>
    <section class="contact">
        <div class="page-width">

            <h1>Kontakt</h1>

            <p>
                <a href="mailto:info@owzg.pl">info@owzg.pl</a><br>
                <a href="http://www.facebook.com/2owzg">www.facebook.com/2owzg</a><br>
                -<br>
                Patryk Hardziej<br>
                <a href="mailto:patryk@hardziej.com">patryk@hardziej.com</a><br>
                -<br>
                Rene Wawrzkiewicz<br>
                <a href="mailto:rene@design-crit.pl">rene@design-crit.pl</a>
            </p>

            <br/>

            <h1>Newsletter</h1>
     
            <form action="//negationstudio.us10.list-manage.com/subscribe/post?u=9927803b4c242d71cd97b4726&amp;id=e9239155d1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-form" target="_blank" novalidate>
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_9927803b4c242d71cd97b4726_e9239155d1" tabindex="-1" value=""></div>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                <input type="submit" value="Dodaj" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </form>

<!--             <iframe src="http://eepurl.com/bm8Kt5" class="newsletter" scrolling="no"></iframe>
 -->
        </div>
    </section>

</main>