<main>
    <div>

        <img src="<?php echo $this->baseUrl . 'img/owzg/owzg-logotyp.svg';?>" id="logo">

        <p>
            Strona w budowie.<br/>
            <a href="mailto:info@owzg.pl">info@owzg.pl</a>
        </p>

    </div>

</main>