<main>
    <section class="intro">
        <div class="page-width">

            <h1><strong>Druga Ogólnopolska Wystawa
                    Znaków Graficznych</strong>
                to wydarzenie prezentujące
                najlepsze polskie znaki graficzne.</h1>

            <p>Na wystawie zaprezentowane zostaną znaki z <i>Pierwszej
                    Ogólnopolskiej Wystawy Znaków Graficznych</i> (1969), autorstwa
                m.in. Karola Śliwki, Ryszarda Bojara, Romana Duszka, Jana Hollendra,
                Emilii Nożko-Paprockiej, Leona Urbańskiego, Tytusa Walczaka
                oraz 335 najlepszych znaków powstałych w Polsce w XXI wieku.</p>

            <p><strong>04.09.2015–23.10.2015</strong> Gdynia (Centrum Designu Gdynia)
                <strong>13.11.2015–31.12.2015</strong> Warszawa (Muzeum Sztuki Nowoczesnej)
                <strong>marzec–kwiecień 2016</strong> Wrocław (Galeria Dizajn BWA Wrocław)</p>

        </div>
    </section>

<!--     <section class="white light join">
        <div class="page-width">

            <a href="zglos-projekt">Zgłoś swoje projekty</a>

            <p>Korzystając z naszego formularza możesz zgłosić na wystawę swoje znaki graficzne.<br>
                Termin przyjmowania zgłoszeń to 30.06.2015.</p>

        </div>
    </section> -->

    <section class="photos light">

        <div class="gallery">
            <img src="<?php echo $this->baseUrl('img/owzg/foto-3.jpg');?>">
            <img src="<?php echo $this->baseUrl('img/owzg/foto-2.jpg');?>">
        </div>

        <div class="page-width" style="text-align:center">
            <p>Fotografie pochodzą z historycznej <i>Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych</i>. <u>Warszawa, maj 1969 rok. fot. CAF, J. Muszyński</u></p>
        </div>

    </section>

    <section class="white more-about">
        <div class="page-width">

            <h2>Druga Ogólnopolska Wystawa
                Znaków Graficznych to:</h2>

            <ul>
                <li>Prezentacja polskich znaków graficznych i identyfikacji
                    wizualnych z okresu 1945–1969 i 2000–2015.
                </li>

                <li>Wydarzenie poświęcone grafice użytkowej i polskiej
                    kulturze wizualnej, które koncentruje się na znakach,
                    symbolach, logotypach;<br>ich autorach i przedsiębiorstwach
                    dla których zostały zaprojektowane.
                </li>

                <li>Nawiązanie do legendarnej <i>Pierwszej Ogólnopolskiej
                        Wystawy Znaków Graficznych</i> z 1969 roku.<br>
                    <strong>Po przeszło 45 latach nadszedł czas na jej kontynuację.</strong></li>
            </ul>

        </div>
    </section>
</main>