<main>
    <section class="rules">
        <div class="page-width">

            <h1>Warunki zgłoszenia</h1>

            <p>Organizatorzy <i>Drugiej Ogólnopolskiej Wystawy Znaków Graficznych</i> ogłaszają nabór na projekty znaków graficznych (logo) z lat 2000-2015.</p>

            <h3>1. Cel</h3>
            <ul>
                <li>Celem naboru na <i>Drugą Ogólnopolską Wystawę Znaków Graficznych</i> jest wyłonienie 335 znaków graficznych, najpełniej reprezentujących polskie projektowanie XXI wieku (2000–2015). Wystawa będzie jednocześnie przypomnieniem &nbsp;<i>Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych</i> z maja 1969 roku i zostaną na niej zaprezentowane także 335 projekty z lat 1945–1969.</li>
                <li>Ekspozycja zostanie pokazana w trzech instytucjach kultury w Polsce:
                    <ul>
                        <li>Centrum Designu Gdynia (wystawa w dniach 04.09.2015–23.10.2015)</li>
                        <li>Muzeum Sztuki Nowoczesnej w Warszawie (wystawa w dniach 13.11.2015–31.12.2015)</li>
                        <li>Galeria Dizajn BWA Wrocław (marzec–kwiecień 2016)</li>
                    </ul>
                </li>
            </ul>

            <h3>2. Terminy</h3>
            <ul>
                <li>Znaki graficzne należy zgłosić do 30.06.2015.</li>
                <li>Ogłoszenie znaków graficznych zakwalifikowanych na wystawę nastąpi 10.07.2015.</li>
            </ul>

            <h3>3. Zasady zgłaszania projektów</h3>
            <ul>
                <li>Zgłoszenie jest dobrowolne i wolne od opłat.</li>
                <li>Projekty mogą być zgłaszane przez podmioty profesjonalnie zajmujące się projektowaniem graficznym (projektantów graficznych, agencje reklamowe, agencje interaktywne, studia graficzne) oraz studentów kierunków projektowych.</li>
                <li>Jeden Zgłaszający możne zgłosić maksymalnie 5 różnych znaków graficznych swojego autorstwa.</li>
                <li>Znaki powinny być zaprojektowane tylko i wyłącznie dla polskich przedsiębiorstw, instytucji wydarzeń itd.</li>
                <li>Znaki powinny być zaprojektowane w latach 2000–2015.</li>
                <li>Projekty należy zgłaszać poprzez formularz zgłoszeniowy znajdujący się na stronie: <a href="zglos-projekt">Zgłoś projekt</a>.</li>
                <li>Projekty można zgłaszać w trzech kategoriach: projekty wdrożone, projekty niewdrożone, projekty studenckie.</li>
                <li>Prezentację można uzupełnić maksymalnie trzema wizualizacjami (mock–upy, zdjęcia, grafiki lub rendery) pozostałych elementów identyfikacji wizualnej.</li>
            </ul>

            <h3>4. Warunki techniczne</h3>
            <ul>
                <li>Każdy ze znaków należy zgłosić wg poniższej specyfikacji.
                    <ul>
                        <li>Znak w wersji czarno-białej (<strong>300 x 300 mm / plik wektorowy zapisany jako pdf / cmyk</strong>). Znak w czerni lub skali szarości powinien znajdować się na białej planszy o wymiarach 300 x 300 mm (uwzględniając pole ochronne).</li>
                        <li>Znak w wersji kolorowej (<strong>300 x 300 mm / plik wektorowy zapisany jako pdf / cmyk</strong>). Znak powinien znajdować się na planszy o wymiarach 300 x 300 mm (uwzględniając pole ochronne).</li>
                    </ul>
                </li>
                <li>Dodatkowe wizualizacje elementów identyfikacji należy zgłosić wg poniższej specyfikacji:
                    <ul>
                        <li><strong>jpg / rgb / format A4 297x210 mm 150 dpi / poziom</strong></li>
                    </ul>
                </li>
                <li>Pliki nie powinny przekraczać łącznie rozmiaru 10 mb.</li>
            </ul>

            <h3>5. Rada</h3>
            <ul>
                <li>Wyboru projektów dokona rada konsultantów powołana przez kuratorów wystawy.</li>
                <li>Członkowie rady:
                    <ul>
                        <li>Ryszard Bojar (projektant form przemysłowych oraz identyfikacji wizualnych, twórca znaku CPN)</li>
                        <li>Kuba Sowiński (współzałożyciel ogólnopolskiego kwartalnika projektowego 2+3D, projektant)</li>
                        <li>Marcin Wolny (projektant, Studio Otwarte)</li>
                        <li>Michał Łojewski (projektant, White Cat Studio)</li>
                        <li>Marta Gawin (projektantka)</li>
                        <li>Viktoriya Grabowska (typografka, wykładowczyni Uniwersytetu Artystycznego w Poznaniu)</li>
                        <li>Katarzyna Roj (BWA Wrocław)</li>
                    </ul>
                </li>
            </ul>

            <h3>6. Postanowienia końcowe</h3>
            <ul>
                <li>Dane osobowe przetwarzane będą w celu przeprowadzenia naboru do Drugiej Ogólnopolskiej Wystawy Znaków graficznych.</li>
                <li>Zgłaszający odpowiada za treść zgłaszanych przez niego materiałów. Nie mogą one naruszać prawa autorskiego ani praw osób trzecich. W sytuacji gdyby zgłoszone i opublikowane na wystawie projekty Zgłaszającego naruszały prawa własności intelektualnej osób trzecich, Zgłaszający przejmuje odpowiedzialność wobec tych osób w związku z publikacją projektów na wystawie.</li>
                <li>Dostarczenie prac upoważnia organizatorów do reprodukowania i publikowania ich dla potrzeb wystawy i promocji Drugiej Ogólnopolskiej Wystawy Znaków Graficznych</li>
                <li>Organizator zastrzega pokazanie znaków w innych Instytucjach kultury w Polsce i za granicą w ramach Drugiej Ogólnopolskiej Wystawy Znaków Graficznych.</li>
                <li>Zgłaszający nadsyłając projekt potwierdza, że zapoznał się z warunkami zgłoszenia i akceptuje ich postanowienia.</li>
                <li>Warunki zgłoszenia wchodzą w życie z dniem ogłoszenia.</li>
            </ul>

        </div>
    </section>

</main>