<?php /** @var Zefir_View_Template $this */?>
<?php echo $this->doctype('HTML5') ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <?php if (APPLICATION_ENV != 'production'):?>
    <meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE,NOSNIPPET">
    <?php endif;?>

    <?php if ($this->page_title):?>
	    <?php echo $this->headTitle($this->translation($this->page_title) . ' | ' . $this->translation('meta_title'));?>
    <?php else:?>
        <?php echo $this->headTitle("Druga Ogólnopolska Wystawa Znaków Graficznych");?>
    <?php endif;?>

    <?php $this->headLink()->appendStylesheet($this->baseUrl('css/'.$this->template.'.css')); ?>
	
	<?php if (isset($this->css) && is_array($this->css)):?>
		<?php foreach($this->css as $file):?>
		<?php $this->headLink()->appendStylesheet($this->baseUrl('css/'.$file)); ?>
		<?php endforeach;?>
	<?php endif;?>
	<?php echo $this->headLink();?>
	<?php echo $this->headScript();?>

    <meta property="og:title" content="Druga Ogólnopolska Wystawa Znaków Graficznych">
    <meta name="description" content="Druga Ogólnopolska Wystawa Znaków Graficznych to wydarzenie prezentujące najlepsze polskie znaki graficzne. Na wystawie zaprezentowane zostaną znaki z Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych (1969), autorstwa m.in. Karola Śliwki, Ryszarda Bojara, Romana Duszka oraz 335 najlepszych znaków powstałych w Polsce w XXI wieku.">
    <meta property="og:description" content="Druga Ogólnopolska Wystawa Znaków Graficznych to wydarzenie prezentujące najlepsze polskie znaki graficzne. Na wystawie zaprezentowane zostaną znaki z Pierwszej Ogólnopolskiej Wystawy Znaków Graficznych (1969), autorstwa m.in. Karola Śliwki, Ryszarda Bojara, Romana Duszka oraz 335 najlepszych znaków powstałych w Polsce w XXI wieku.">
    <meta property="og:url" content="http://www.owzg.pl">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Druga Ogólnopolska Wystawa Znaków Graficznych">
    <meta name="distribution" content="global">
    <link rel="shortcut icon" href="/favicon.ico">

    <script src="//use.typekit.net/eah6alv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <header>
        <div class="page-width">
            <a href="/"><img src="<?php echo $this->baseUrl('img/owzg/owzg-logotyp.svg');?>" id="logo"></a>
            <?php
                echo $this->partial('partials/navigation.phtml',
                                    array('active_menu' => $this->active_menu, 'user' => $this->user));
            ?>
        </div>
    </header>


    <?php echo $this->layout()->content; ?>

    <footer>
        <div class="page-width">
            <div class="top">
                <div class="author">
                    © Copyright 2015 &nbsp;<a href="/">OWZG</a>. All rights reserved<br>
                    Kuratorzy wystawy: <a href="mailto:patryk@hardziej.com">Patryk Hardziej</a>, <a href="mailto:rene@design-crit.pl">Rene Wawrzkiewicz</a> / html: <a href="mailto:k@kirklewski.com">Ksawery Kirklewski</a>
                </div>
                <div class="links">
                    <br>
                    <a href="/o-wystawie" title="O wystawie">O wystawie</a>
                    <a href="/zglos-projekt" title="Zgłoś projekt">Zgłoś projekt</a>
                    <a href="/warunki-zgloszenia" title="Warunki zgłoszenia">Warunki zgłoszenia</a>
                    <a href="https://www.facebook.com/2owzg" title="2OWZG na Facebooku">Facebook</a>
                    <a href="/kontakt" title="Kontakt">Kontakt</a>
                </div>
            </div>

            <div class="friends partners">
                <h3>Partnerzy</h3>
                <a href="http://www.artmuseum.pl"><img src="<?php echo $this->baseUrl('img/partners/muzeum-sztuki-nowoczesnej.svg');?>"></a>
                <a href="http://www.centrumdesignu.gdynia.pl"><img src="<?php echo $this->baseUrl('img/partners/centrum-designu-gdynia.svg');?>"></a>
                <a href="http://www.bwa.wroc.pl"><img src="<?php echo $this->baseUrl('img/partners/bwa.svg');?>"></a>
                <a href="http://pantuniestal.com"><img src="<?php echo $this->baseUrl('img/partners/ptns.svg');?>"></a>
                <a href="http://www.zpap.org.pl/"><img src="<?php echo $this->baseUrl('img/partners/zpap.svg');?>"></a>
                <a href="http://www.zamekcieszyn.pl/"><img src="<?php echo $this->baseUrl('img/partners/zamek-cieszyn.svg');?>"></a>
                <a href="http://www.motiv-studio.com/"><img src="<?php echo $this->baseUrl('img/partners/motiv.svg');?>"></a>
            </div>

            <div class="friends partners-media">
                <h3 style="margin-bottom: 50px;">Partnerzy medialni</h3>
                <a href="http://skmsar.org/"><img src="<?php echo $this->baseUrl('img/partners/skmsar.svg');?>"></a>
                <a href="http://klubbranddesign.pl/"><img src="<?php echo $this->baseUrl('img/partners/branddesign.svg');?>"></a>
                <a href="http://www.ktr.org.pl/"><img src="<?php echo $this->baseUrl('img/partners/ktr.svg');?>"></a>

                <a href="http://stgu.pl/"><img src="<?php echo $this->baseUrl('img/partners/stgu.svg');?>"></a>
                <a href="http://2plus3d.pl/"><img src="<?php echo $this->baseUrl('img/partners/2plus3d.svg');?>"></a>
                <a href="http://lowcydizajnu.pl/"><img src="<?php echo $this->baseUrl('img/partners/lowcy-dizajnu.svg');?>"></a>
                <a href="http://www.designmagazyn.pl/"><img src="<?php echo $this->baseUrl('img/partners/designmagazyn.svg');?>"></a>
                <a href="http://www.beczmiana.pl/notesna6tygodni.html"><img src="<?php echo $this->baseUrl('img/partners/notes.svg');?>"></a>
                 <a href="http://magazynszum.pl/"><img src="<?php echo $this->baseUrl('img/partners/szum.svg');?>"></a>
                <a href="http://zwyklezycie.pl/"><img src="<?php echo $this->baseUrl('img/partners/zz.svg');?>"></a>
                <a href="http://dailydesigner.tumblr.com/"><img src="<?php echo $this->baseUrl('img/partners/dailydesigner.svg');?>"></a>
                <a><img src="<?php echo $this->baseUrl('img/partners/polishdesigners.svg');?>"></a>
                <a href="http://designitpoland.com/"><img src="<?php echo $this->baseUrl('img/partners/dip.svg');?>"></a>
                <a href="http://brandingmonitor.pl/"><img src="<?php echo $this->baseUrl('img/partners/bm20.svg');?>"></a>
            </div>

            <div class="friends patrons">
                <h3>Patroni</h3>
                <a href="http://oldschoollogo.com"><img src="<?php echo $this->baseUrl('img/patrons/oldschool-logo.svg');?>"></a>
                <a href="http://design-crit.pl/"><img src="<?php echo $this->baseUrl('img/patrons/design-crit.svg');?>"></a>
            </div>

        </div>
    </footer>
</body>
</html>
