<?php /** @var Zefir_View_Template $this */?>
<?php echo $this->doctype('HTML5') ?>
<html xmlns="http://www.w3.org/1999/xhtml" class="working">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<?php echo $this->headTitle($this->translation('meta_title'));?>
	<?php $this->headLink()->appendStylesheet($this->baseUrl.'css/'.$this->template.'.css'); ?>
	<?php if (isset($this->css) && is_array($this->css)):?>
		<?php foreach($this->css as $file):?>
		<?php $this->headLink()->appendStylesheet($this->baseUrl.'css/'.$file); ?>
		<?php endforeach;?>
	<?php endif;?>
	<?php echo $this->headLink();?>
	<?php echo $this->headScript();?>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="//use.typekit.net/eah6alv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

</head>
<body class="working">
    <?php echo $this->layout()->content; ?>
</body>
</html>
