<main>
    <section class="application-page">
        <div class="page-width">

            <h1><?php echo $this->translate('application_header'); ?></h1>

            <p>
            	Zanim zgłosisz swoje projekty przeczytaj <a href="warunki-zgloszenia">Warunki zgłoszenia</a>.<br>
            	Zgłoszenia niezgodnie ze specyfikacją nie będą brane pod uwagę.<br/>
            	Możesz zgłosić do 5 projektów.</p>

	        <?php
            echo $this->form;
            ?>
        </div>
    </section>
</main>
