<main>
    <section>
        <div class="page-width">
            <h1><?php echo $this->translate('application_edit_header'); ?></h1>
            <?php echo $this->form;?>
        </div>
    </section>
</main>
