<main>
    <section class="white padded">
        <div class="page-width application-list-width">
            <?php if ( $this->user->role == "user"):?>
            <h1>Zgłaszający</h1>
            <table class="application-list">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('company');?></th>
                        <th><?php echo $this->translate('user_name');?></th>
                        <th><?php echo $this->translate('email');?></th>
                        <th><?php echo $this->translate('phone');?></th>
                        <th><?php echo $this->translate('address');?></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?php echo $this->user->company;?></td>
                        <td><?php echo $this->user->name;?></td>
                        <td><?php echo $this->user->email;?></td>
                        <td><?php echo $this->user->phone;?></td>
                        <td><?php echo $this->user->address;?></td>
                    </tr>
                </tbody>
            </table>
            <?php endif; ?>

            <h1><?php echo $this->translate('applications_list'); ?></h1>

            <table class="application-list">
                <thead>
                    <tr>
                        <?php if ( $this->user->role == "admin"):?>
                        <th class="minimum"><?php echo $this->translate('application_id');?></th>
                        <?php endif;?>
                        <th><?php echo $this->translate('work_subject');?></th>
                        <th><?php echo $this->translate('authors');?></th>
                        <th><?php echo $this->translate('customer');?></th>
                        <th><?php echo $this->translate('work_type');?></th>
                        <?php if ( $this->user->role == "user"):?>
                        <th><?php echo $this->translate('year');?></th>
                        <th><?php echo $this->translate('description');?></th>
                        <?php endif;?>
                        <th><?php echo $this->translate('files');?></th>
                        <th><?php echo $this->translate('actions');?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php if (count($this->applications) == 0):?>
                    <tr>
                        <td colspan="9" style="text-align: center;"><?php echo $this->translate('no_applications');?></td>
                    </tr>
                    <?php endif; ?>

                    <?php foreach($this->applications as $application):?>
                    <?php /** @var Application_Model_Applications $application */;?>
                    <tr>
                        <?php if ( $this->user->role == "admin"):?>
                        <td class="minimum"><?php echo $application->application_id?></td>
                        <?php endif;?>
                        <td><?php echo $application->work_subject?></td>
                        <td><?php echo $application->authors ?></td>
                        <td><?php echo $application->customer ?></td>
                        <td><?php echo $application->work_type->work_type_name ?></td>
                        <?php if ( $this->user->role == "user"):?>
                        <td><?php echo $application->project_year ?></td>
                        <td class="description"><?php echo mb_substr($application->work_desc,0,20, 'utf-8') ?>...</td>
                        <?php endif;?>
                        <td>
                            <ul class="file-list">
                                <?php foreach($application->files as $file):?>
                                <?php /** @var Application_Model_Files $file */;?>
                                <li>
                                    <a href="<?php echo $this->baseUrl($file->getPath());?>" class="file type-<?php echo $file->getFileType();?>"></a>
                                </li>
                                <?php endforeach;?>
                            </ul>
                        </td>
                        <td class="actions">
                            <a href="<?php echo $this->url(array('id' => $application->application_id), 'application_edit');?>"><?php echo $this->translate('Edit');?></a>
                            <?php if ( $this->user->role == "admin"):?>
                            <a href="<?php echo $this->url(array('id' => $application->application_id), 'application_view');?>"><?php echo $this->translate('View');?></a>
                            <a href="<?php echo $this->url(array('id' => $application->application_id), 'application_remove');?>"><?php echo $this->translate('Delete');?></a>
                            <?php endif;?>
                        </td>
                    </tr>
                    <?php endforeach;?>
                </tbody>
            </table>
        </div>
    </section>
</main>

