<main>
    <section class="application-page">
        <div class="page-width">
            <h1>Nabór zamknięty!</h1>
            <p>
                Nabór został zamknięty, dziękujemy za wszystkie zgłoszenia.<br>
                Po więcej informacji zapraszamy na <a href="https://www.facebook.com/2owzg">profil wystawy na Facebooku</a>.
            </p>
        </div>
    </section>
</main>
