<main>
    <section class="white padded">
        <div class="page-width project">
            <h1><?php echo $this->translate('application_show_header'); ?></h1>
            <div class="left">
                <h2>Zgłaszający</h2>
                <dl class="user">
                    <dt><?php echo $this->translate('user_name');?></dt>
                    <dd><?php echo $this->application->user->name;?></dd>

                    <dt><?php echo $this->translate('email');?></dt>
                    <dd><?php echo $this->application->user->email;?></dd>

                    <dt><?php echo $this->translate('phone');?></dt>
                    <dd><?php echo $this->application->user->phone;?></dd>

                    <dt><?php echo $this->translate('address');?></dt>
                    <dd><?php echo $this->application->user->address;?></dd>

                    <dt><?php echo $this->translate('company');?></dt>
                    <dd><?php echo $this->application->user->company;?></dd>
                </dl>

                <h2>Projekt <a href="<?php echo $this->url(array('id' => $this->application->application_id), 'application_edit');?>" class="edit">(Edytuj)</a></h2>
                <dl class="application">
                    <dt><?php echo $this->translate('work_subject');?></dt>
                    <dd><?php echo $this->application->work_subject;?></dd>

                    <dt><?php echo $this->translate('authors');?></dt>
                    <dd><?php echo $this->application->authors;?></dd>

                    <dt><?php echo $this->translate('work_type');?></dt>
                    <dd><?php echo $this->application->work_type->work_type_name;?></dd>

                    <dt><?php echo $this->translate('project_year');?></dt>
                    <dd><?php echo $this->application->project_year;?></dd>

                    <dt><?php echo $this->translate('customer');?></dt>
                    <dd><?php echo $this->application->customer;?></dd>

                    <dt><?php echo $this->translate('work_desc');?></dt>
                    <dd><?php echo $this->application->work_desc;?></dd>
                </dl>
            </div>
            <div class="right">
                <ul class="file-list">
                    <?php foreach($this->application->files as $file):?>
                        <?php /** @var Application_Model_Files $file */;?>
                        <li class="<?php echo $file->getFileType();?>">
                            <?php if ($file->getFileType() == 'pdf'):?>
                                <a href="<?php echo $this->baseUrl($file->getPath());?>" class="file type-<?php echo $file->getFileType();?>">
                                    <span><?php echo $file->getFileName();?></span>
                                </a>
                            <?php else:?>
                            <a href="<?php echo $this->baseUrl('/assets/applications/'.$file->path);?>" rel="project-images">
                                <img id="application_file_<?php echo $file->file_id?>" class="sort_item"
                                     src="<?php echo $this->baseUrl('assets/applications/'.$file->getImage('thumb').'?'.time());?>"
                                     alt="<?php echo $this->application->work_subject;?>" />
                            </a>
                            <?php endif;?>
                        </li>
                    <?php endforeach;?>
                </ul>
            </div>
        </div>
    </section>
</main>
