<main>
    <section class="white padded">
        <div class="page-width">
            <h1><?php echo $this->translate('application_sent'); ?></h1>
            <p><?php echo $this->translate('success_thankyou');?></p>
        </div>
    </section>
</main>
