<main>
    <section class="white">
            <div class="filters">
                <div class="page-width">
                    <ul class="vote-filter">
                        <li id="vote-val"><?php echo $this->translate('Not voted');?> (<span id="stats"><span></span>/<?php echo $this->appVotes[0];?></span>)</li>
                        <li id="vote-val1"><?php echo $this->translate('Accepted');?> (<span id="stats1"><span></span>/<?php echo $this->appVotes[1];?></span>)</li>
                        <li id="vote-val0"><?php echo $this->translate('Rejected');?> (<span id="stats0"><span></span>/<?php echo $this->appVotes[2];?></span>)</li>
                    </ul>
                    <ul class="type-filter">
                        <?php foreach($this->types as $type):?>
                            <li id="type-<?php echo $type->work_type_id;?>"><?php echo $type->work_type_name?> (<span class="stats"><span></span>/<?php echo $this->typesStats['type-' . $type->work_type_id];?></span>)</li>
                        <?php endforeach;?>
                    </ul>
                    <div class="pager">
                        <?php if ($this->page > 1):?>
                        <a id="prev-page" href="<?php echo $this->url(array('page' => $this->page - 1, 'size' => $this->size), 'application_vote_page');?>">&lsaquo; Wróć</a> |
                        <?php endif;?>
                        <a id="next-page" href="<?php echo $this->url(array('page' => $this->lastPage ? 1 : $this->page + 1, 'size' => $this->size), 'application_vote_page');?>"><?php echo $this->lastPage ? 'Początek' : 'Dalej';?> &rsaquo;</a>

                        <ul>
                            <li><a href="<?php echo $this->url(array('page' => 1, 'size' => 50), 'application_vote_page');?>">50</a></li>
                            <li><a href="<?php echo $this->url(array('page' => 1, 'size' => 150), 'application_vote_page');?>">150</a></li>
                            <li><a href="<?php echo $this->url(array('page' => 1, 'size' => 300), 'application_vote_page');?>">300</a></li>
                            <li><a href="<?php echo $this->url(array('page' => 1, 'size' => 'all'), 'application_vote_page');?>">Wszystkie</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <ul class="voting-applications">
            <?php foreach($this->applications as $application):?>
                <?php /** @var Application_Model_Applications $application */?>
                <li class="item vote-val<?php echo $application->getVote()->value;?> type-<?php echo $application->work_type_id;?>" id="app-<?php echo $application->application_id; ?>" data-application-id="<?php echo $application->application_id; ?>">

                    <span class="vote_status vote-val<?php echo $application->getVote()->value;?>"></span>

                    <img id="mono_sign_<?php echo $application->application_id; ?>" class="mono_sign"
                         src="<?php echo $this->baseUrl('assets/applications/'.$application->getMonoImage());?>"
                         alt="<?php echo $application->work_subject;?>" />

                    <img id="color_sign_<?php echo $application->application_id; ?>" class="color_sign"
                         src="<?php echo $this->baseUrl('assets/applications/'.$application->getColorImage());?>"
                         alt="<?php echo $application->work_subject;?>" />
                    <p class="app-id"><?php echo $application->application_id;?></p>
                </li>
            <?php endforeach; ?>
            </ul>
        <!-- </div> -->
    </section>
</main>
<div class="overlay-wrapper" id="entry-overlay">
    <div class="overlay-bg"></div>
    <div class="overlay-header">
        <div class="page-width">
            <span class="application-header">
                <span id="application-title"></span>
                <span id="apps-counter">
                    (Zgłoszenie&nbsp;<span id="current-app-id"></span>)
                </span>
            </span>
            <span id="overlay-nav">
                <span id="app-prev"></span>
                <span id="app-next"></span>
                <span id="app-close"></span>
            </span>
            <ul class="application-votes">
                <li id="app-vote" data-value=""><?php echo $this->translate('Not voted');?></li>
                <li id="app-vote1" data-value="1"><?php echo $this->translate('Accepted');?></li>
                <li id="app-vote0" data-value="0"><?php echo $this->translate('Rejected');?></li>
            </ul>
        </div>
    </div>
    <div class="overlay">
        <div class="page-width">
            <div class="overlay-content">
                <div id="app-more-info"><ul></ul></div>
                <div id="application-description"></div>
                <div class="application-images">
                    <div class="pdf-files">
                        <div class="mono-sign"></div>
                        <div class="color-sign"></div>
                    </div>
                    <div class="identifications"></div>
                </div>
                <div class="app-id">Zgłoszenie numer: <span id="application-id"></span></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
/*<![CDATA[*/
    var voting = new Voting();
    voting.initialize({}, '<?php echo $this->url(array(), 'vote_save');?>', '<?php echo $this->url(array(), 'app_fetch');?>', <?php echo Zend_Json::encode($this->appVotes);?>, '<?php echo Zend_Registry::get('role');?>');
/*]]>*/
</script>