<main>
    <section class="white login padded">
        <div class="page-width">
            <h1><?php echo $this->translate('login_header'); ?></h1>
            <?php if($this->wrongLogin == true): ?>
                <div class="error-div">
                    <p class="error" style="text-align: left;"><?php echo $this->translate('login_error'); ?>.</p>
                </div>
            <?php endif; ?>

            <?php echo $this->loginForm; ?>
        </div>
    </section>
</main>