<main>
    <section class="white login padded">
        <div class="page-width">
            <h1><?php echo $this->translate('restore_header'); ?></h1>
            <p>Na podaną skrzynkę został wysłany mail z linkiem, pod którym możliwe będzie wygenerowanie nowego hasła. Link jest ważny przez 1 godzinę.</p>
        </div>
    </section>
</main>