<main>
    <section class="white login padded">
        <div class="page-width">
            <h1><?php echo $this->translate('restore_header'); ?></h1>
            <?php echo $this->form; ?>
        </div>
    </section>
</main>